<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.2.xsd">
        
	<!-- Habilitacion de configuracion via anotaciones -->
	<context:annotation-config/>

	<!-- Auto scaneo de clases -->
    <context:component-scan base-package="proeza.sah"/>
    <context:component-scan base-package="com.proeza" />

	<bean id="appClass" class="proeza.sah.desktop.core.MainApp" >
		<property name="confLocation" value="/app.cfg.properties" />
	</bean>

	<bean id="deviceResourceManager" class="proeza.sah.device.DeviceResourceManager" >
		<constructor-arg>
			<list>
				<ref bean="lightDevice" />
			</list>
		</constructor-arg>
	</bean>

	<bean id="lightDevice" class="proeza.sah.device.DeviceResource" >
		<constructor-arg name="resourcePath" value="/images/bulbOn_64x64.png"/>
		<constructor-arg name="deviceType" value="LIGHT"/>
		<constructor-arg name="deviceState" value="ON"/>
	</bean>
	
	<bean id="localRadio" class="proeza.sah.radio.LocalRadio" >
		<constructor-arg type="java.lang.String" value="COM10" />
		<constructor-arg type="java.lang.Integer" value="9600" />
	</bean>
	
 </beans>